<section  ng-controller="apiClubController">
    <div class="container">
        <div class="panel panel-primary animated fadeInDown animation-delay-8 margin-top-20">
            <div class="panel-heading">
                <h2 class="text-white text-center">Admin dashboard</h2>
            </div>
            <div class="panel-body admin-panel-body">
                <div class="admin-dash col-md-12">
                    <!-- Club stats -->
                    <h3 class="text-primary text-center">Club Information</h3>
                    <hr>
                    <div col-md-12>
                        <!--Memebers-->
                        <div class="col-md-6">
                            <h4 class="text-center">Info</h4>
                            <hr class="hr-primary">
                            <table class="table table-striped table-responsive">
                               <tbody>
                                    <tr>
                            			<td class="text-primary">Club name</td>
                            			<td>{{currentUser.clubName}}</td>
                            		</tr>
                            		<tr>
                            			<td class="text-primary">Club email / username</td>
                            			<td>{{currentUser.userName}}</td>
                            		</tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="col-md-6">
                            <h4 class="text-center">Pricing</h4>
                            <hr class="hr-primary">
                            <table class="table table-striped table-responsive">
                               <tbody>
                                    <tr>
                						<td class="text-primary">Total Money Due</td>
                						<td>552</td>
                					</tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="admin-dash col-md-12 margin-top-15">
                    <h3 class="text-primary text-center">Club Statistics</h3>
                    <hr>
                    <div class="col-md-6">
                            <h4 class="text-center">Members and Volunteers</h4>
                            <hr class="hr-primary">
                            <table class="table table-striped table-responsive">
                               <tbody>
                                   <tr>
                            			<td class="text-primary">Marshalls</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                            		<tr>
                            			<td class="text-primary">Scorekeepers</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                                    <tr>
                            			<td class="text-primary">Total members</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="col-md-6">
                            <h4 class="text-center">Judges</h4>
                            <hr class="hr-primary">
                            <table class="table table-striped table-responsive">
                               <tbody>
                                   <tr>
                						<td class="text-primary">Trampoline judges</td>
                						<td>4</td>
                					</tr>
                					<tr>
                						<td class="text-primary">Tumbling judges</td>
                						<td>4</td>
                					</tr>
                					<tr>
                						<td class="text-primary">DMT judges</td>
                						<td>4</td>
                					</tr>
                                    <tr>
                						<td class="text-primary">Total judges</td>
                						<td>4</td>
                					</tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                
                    <div class="admin-dash col-md-12 margin-top-15">
                        <h3 class="text-primary text-center">Club Statistics</h3>
                        <hr>
                        
                        <div class="col-md-4">
                            <h4 class="text-center">Trampoline</h4>
                            <hr class="hr-primary">
                            <table class="table table-striped table-responsive">
                               <tbody>
                                   <tr>
                            			<td class="text-primary">Novice</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                            		<tr>
                            			<td class="text-primary">Intermediate</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                            		<tr>
                            			<td class="text-primary">Interadvanced</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                            		<tr>
                            			<td class="text-primary">Advanced</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                            		<tr>
                            			<td class="text-primary">Elite</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                            		<tr>
                            			<td class="text-primary">Elite-pro</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                                    <tr>
                            			<td class="text-primary">Total competitors</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="col-md-4">
                            <h4 class="text-center">Tumbling</h4>
                            <hr class="hr-primary">
                            <table class="table table-striped table-responsive">
                               <tbody>
                                    <tr>
                                        <tr>
                            			<td class="text-primary">Level 1</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                            		<tr>
                            			<td class="text-primary">Level 2</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                            		<tr>
                            			<td class="text-primary">Level 3</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                            		<tr>
                            			<td class="text-primary">Level 4</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                            		<tr>
                            			<td class="text-primary"> Level 5</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                						<td class="text-primary">Total competitors</td>
                						<td>4</td>
                					</tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="col-md-4">
                            <h4 class="text-center">DMT</h4>
                            <hr class="hr-primary">
                            <table class="table table-striped table-responsive">
                               <tbody>
                                   <tr>
                            			<td class="text-primary">Level 1</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                            		<tr>
                            			<td class="text-primary">Level 2</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                            		<tr>
                            			<td class="text-primary">Level 3</td>
                            			<td>{{ club.members.length }}</td>
                            		</tr>
                                    <tr>
                						<td class="text-primary">Total competitors</td>
                						<td>4</td>
                					</tr>
                                </tbody>
                            </table>
                        </div>
                    <!-- Members-->
                </div>
                <div class="admin-dash col-md-12 margin-top-15">
                    <div class="col-md-12">
                        <h3 class="text-primary text-center">Members</h3>
                        <hr>
                        <!-- Table -->
                        <div>
                            <table ng-table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Basic Info and Volunteering</th>
                                        <th>Competing</th>
                                        <th>Judging</th>
                                        <th class="col-sm-1">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="member in club.members">
                                        <!-- Name 1 -->
                                        <td>{{ member.name }}</td>
                                        <!-- Basic 2 -->
                                        <td>
                                            <div>
                                                <ul class="list-unstyled">
                                                    <li><h6>Basic</h6></li>
                                                    <li>
                                                        Gender: {{member.gender}}
                                                    </li>
                                                    Ex CommISTO: 
                                                        <span ng-if="member.pastCommISTO">
                                                            Yes
                                                        </span>
                                                        <span ng-if="!member.pastCommISTO">
                                                            No
                                                        </span>
                                                    <li>
                                                        Social ticket: 
                                                        <span ng-if="member.socialTicket">
                                                            Yes
                                                        </span>
                                                        <span ng-if="!member.socialTicket">
                                                            No
                                                        </span>
                                                    </li>
                                                    <li>
                                                        Guest: 
                                                        <span ng-if="member.guest">
                                                            Yes
                                                        </span>
                                                        <span ng-if="!member.guest">
                                                            No
                                                        </span>
                                                    </li>
                                                    <hr>
                                                    <li><h6>Volunteering</h6></li>
                                                    <li>
                                                        Scorekeeper: 
                                                        <span ng-if="member.scorekeeper">
                                                            Yes
                                                        </span>
                                                        <span ng-if="!member.scorekeeper">
                                                            No
                                                        </span>
                                                    </li>
                                                    <li>
                                                        Marshall: 
                                                        <span ng-if="member.marshling">
                                                            Yes
                                                        </span>
                                                        <span ng-if="!member.marshling">
                                                            No
                                                        </span>
                                                    </li>
                                                    
                                                    <div ng-if="member.shirt">
                                                        <hr>
                                                        <li><h6>Shirt</h6></li>
                                                        <li>Colour: {{member.shirtColor}}</li>
                                                        <li>Size: {{member.shirtSize}}</li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </td>
                                        <!-- Competing 3-->
                                        <td>
                                            <!--Tramploine-->
                                            <div ng-if="member.trampolineCompetitor || member.trampolineSyncCompetitor">
                                                <h5>Tramploine</h5>
                                                <ul class="list-unstyled" ng-if="member.trampolineCompetitor">
                                                    <li><h6>Individual</h6></li>
                                                    <li>Level - {{trampLevels[member.trampolineLevel - 1].name}}</li>
                                                    <li ng-if="member.trampolineTeam">Team - {{teams[member.trampolineTeam - 1].name}}</li>
                                                </ul>
                                                <ul class="list-unstyled" ng-if="member.trampolineSyncCompetitor">
                                                    <li><h6>Sync</h6></li>
                                                    <li>Partner - {{ member.trampolineSyncPartner}}</li>
                                                    <li>Level - {{ syncLevels[member.trampolineSyncLevel - 1].name}}</li>
                                                </ul>
                                            <hr>
                                            </div>
                                        
                                            <!--Tumblin-->
                                            <div ng-if="member.tumblingCompetitor">
                                                <h5>Tumbling</h5>
                                                <ul class="list-unstyled">
                                                    <li>Level - {{member.tumblingLevel}}</li>
                                                </ul>
                                            <hr>
                                            </div>
                                            
                                            <!--DMT-->
                                            <div ng-if="member.dmtCompetitor">
                                                <h5>DMT</h5>
                                                <ul class="list-unstyled">
                                                    <li>Level - {{member.dmtLevel}}</li>
                                                </ul>
                                            </div>
                                        </td>
                                        <!-- Judging 4 -->
                                        <td>
                                            <!--Tramploine-->
                                            <div ng-if="member.trampolineFormJudge">
                                                <h5>Tramploine</h5>
                                                <ul class="list-unstyled">
                                                    <li ng-if="member.trampolineFormJudge">Form judge</li>
                                                    <li ng-if="member.trampolineTariffJudge">Tariff judge</li>
                                                    <li ng-if="member.trampolineSuperiorJudge">Superior judge</li>
                                                    <li ng-if="member.trampolineSyncJudge">Sync judge</li>
                                                    <li ng-if="member.trampolineTariffJudge">Max judging level - {{trampLevels[member.trampolineJudgeLevel - 1].name}}</li>
                                                </ul>
                                                <hr>
                                            </div>
                                            <!--Tumblin-->
                                            <div ng-if="member.tumblingJudge">
                                                <h5>Tumbling</h5>
                                                <ul class="list-unstyled">
                                                    <li ng-if="member.tumblingJudge">Tumbling judge</li>
                                                    <li ng-if="member.tumblingSuperiorJudge">Superior tumbling judge</li>
                                                    <li ng-if="member.tumblingJudge">Max judging level - {{member.dmtLevel}}</li>
                                                </ul>
                                                <hr>
                                            </div>
                                            <!--DMT-->
                                            <div ng-if="member.dmtJudge">
                                                <h5>DMT</h5>
                                                <ul class="list-unstyled">
                                                    <li ng-if="member.dmtJudge">DMT judge</li>
                                                    <li ng-if="member.dmtSuperiorJudge">Superior dmt judge</li>
                                                    <li ng-if="member.dmtJudge">Max judging level - {{member.dmtJudgeLevel}}</li>
                                                </ul>
                                            </div>
                                        </td>
                                        <!-- Actions 5 -->
                                        <td class="col-sm-1">
                                            <div class="dropdown center-block col-sm-6">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li role="presentation"><a role="menuitem" ng-click="deleteMemberModal(currentUser.clubName, member.name)">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <!--Button-->
                    <div class="col-md-12">
                        <hr>
                        <a class="btn btn-primary btn-lg col-md-2 col-md-offset-5" href="#/dashboard/add" >Add member</a>
                        
                    </div>

                </div>
            </div>
        </div>
    </div> <!-- container -->
</section>

