<section>

    <div class="container margin-top-20">
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="text-white">Add a competitor</h2>
            </div>
            <div class="panel-body">
                <form>
                    <div class="margin-bottom-20 form-top">
                        <!-- Basic -->
                        <div class="col-md-6 full-height">
                            <div class="panel panel-default  full-height">
                                <div class="panel-body sponsor-panel full-height">
                                    <h2 class="text-dark">Basic Info</h2>
                                    <hr />
                                    <!-- Text input-->
                                    <div class="col-md-12">
                                      <label class="col-md-6" for="name">Name</label>  
                                      <div class="col-md-6">
                                      <input id="name" name="name" type="text" placeholder="name" required="">
                                        
                                      </div>
                                    </div>
                                    
                                    <!-- Multiple Checkboxes (inline) -->
                                    <div class="col-md-12">
                                      <label class="col-md-6" for="commisto">Past CommISTO</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="commisto-0">
                                          <input type="checkbox" name="commisto" id="commisto-0" value="true">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <!-- Multiple Checkboxes (inline) -->
                                    <div class="col-md-12">
                                      <label class="col-md-6" for="social">Social Ticket</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="social-0">
                                          <input type="checkbox" name="social" id="social-0" value="true">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Helping -->
                        <div class="col-md-6 full-height">
                            <div class="panel panel-default full-height">
                                <div class="panel-body sponsor-panel full-height">
                                    <h2 class="text-dark">Helping</h2>
                                    <hr />
                                    <!-- Multiple Checkboxes (inline) -->
                                    <div class="col-md-12">
                                      <label class="col-md-6" for="scorekeeping">Scorekeeping</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="scorekeeping-0">
                                          <input type="checkbox" name="scorekeeping" id="scorekeeping-0" value="true">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <!-- Multiple Radios (inline) -->
                                    <div class="col-md-12">
                                      <label class="col-md-6" for="scorekeeping">Marshalling</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="marshalling-0">
                                            <input type="checkbox" name="marshalling" id="marshalling-0" value="true" >                                          
                                            Yes / No
                                        </label>
                                      </div>
                                    </div>
                                </div>                    
                            </div>
                        </div>
                    </div>
                    
                    </fieldset>
                    <!-- Competing -->
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body sponsor-panel">
                                <h2 class="text-dark text-center">Competing</h2>
                                <hr />
                                <!-- Competing.Trampolining -->
                                <div class="col-md-4">
                                    <h4 class="text-center">Trampolining</h4>
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampolining">Competing</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="trampolining-0">
                                          <input type="checkbox" name="trampolining" id="trampolining-0" value="true">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <!-- Select Basic -->
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampolininglevel">Level</label>
                                      <div class="col-md-6">
                                        <select id="trampolininglevel" name="trampolininglevel" class="form-control" disabled>
                                          <option value="1">Novice</option>
                                          <option value="2">Intermediate</option>
                                          <option value="3">Advanced</option>
                                          <option value="4">Elite</option>
                                        </select>
                                      </div>
                                    </div>
                                </div>
                                <!-- Competing.Tumbling -->
                                <div class="col-md-4">
                                    <h4 class="text-center">Tumbling</h4>
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampolining">Competing</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="trampolining-0">
                                          <input type="checkbox" name="trampolining" id="trampolining-0" value="true">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <!-- Select Basic -->
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampolininglevel">Level</label>
                                      <div class="col-md-6">
                                        <select id="trampolininglevel" name="trampolininglevel" class="form-control" disabled>
                                          <option value="1">Novice</option>
                                          <option value="2">Intermediate</option>
                                          <option value="3">Advanced</option>
                                          <option value="4">Elite</option>
                                        </select>
                                      </div>
                                    </div>
                                </div>
                                <!-- Competing.Dmt -->
                                <div class="col-md-4">
                                    <h4 class="text-center">Dmt</h4>
                                    <!-- Multiple Checkboxes (inline) -->
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampolining">Competing</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="trampolining-0">
                                          <input type="checkbox" name="trampolining" id="trampolining-0" value="true">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <!-- Select Basic -->
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampolininglevel">Level</label>
                                      <div class="col-md-6">
                                        <select id="trampolininglevel" name="trampolininglevel" class="form-control" disabled>
                                          <option value="1">Novice</option>
                                          <option value="2">Intermediate</option>
                                          <option value="3">Advanced</option>
                                          <option value="4">Elite</option>
                                        </select>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- Judging -->
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body sponsor-panel">
                                <h2 class="text-dark text-center">Judging</h2>
                                <hr />
                                <!-- Judging.Trampolining -->
                                <div class="col-md-4">
                                    <h4 class="text-center">Trampolining</h4>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampjudge">Form Judge</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="trampjudge-0">
                                          <input type="checkbox" name="trampjudge" id="trampjudge-0" value="true">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <!-- Multiple Checkboxes (inline) -->
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="tramptariffjudge">Tariff Judge</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="tramptariffjudge-0">
                                          <input type="checkbox" name="tramptariffjudge" id="tramptariffjudge-0" value="true" disabled>
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <!-- Multiple Checkboxes (inline) -->
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampsyncjudge">Sync Judge</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="trampsyncjudge-0">
                                          <input type="checkbox" name="trampsyncjudge" id="trampsyncjudge-0" value="true" disabled>
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <!-- Multiple Checkboxes (inline) -->
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="dmtsuperior">Superior Judge</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="dmtsuperior-0">
                                          <input type="checkbox" name="dmtsuperior" id="dmtsuperior-0" value="true" disabled>
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <!-- Select Basic -->
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampoliningjudginglevel">Judging level</label>
                                      <div class="col-md-6">
                                        <select id="trampoliningjudginglevel" name="trampoliningjudginglevel" class="form-control" disabled>
                                          <option value="1">Novice</option>
                                          <option value="2">Intermediate</option>
                                          <option value="3">Advanced</option>
                                          <option value="4">Elite</option>
                                        </select>
                                      </div>
                                    </div>
                                    
                                </div>
                                
                                 <!-- Judging.Tumbling -->
                                <div class="col-md-4">
                                    <h4 class="text-center">Tumbling</h4>
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="tumblingjudge">Judge</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="tumblingjudge-0">
                                          <input type="checkbox" name="tumblingjudge" id="tumblingjudge-0" value="true">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <!-- Multiple Checkboxes (inline) -->
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="tumblingsuperior">Superior Judge</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="tumblingsuperior-0">
                                          <input type="checkbox" name="tumblingsuperior" id="tumblingsuperior-0" value="true" disabled>
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <!-- Select Basic -->
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="tumblingjudginglevel">Judging level</label>
                                      <div class="col-md-6">
                                        <select id="tumblingjudginglevel" name="tumblingjudginglevel" class="form-control" disabled>
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                        </select>
                                      </div>
                                    </div>
                                </div>
                                 <!-- Judging.Dmt -->
                                <div class="col-md-4">
                                    <h4 class="text-center">Dmt</h4>
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="dmtjudge">Judge</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="dmtjudge-0">
                                          <input type="checkbox" name="dmtjudge" id="dmtjudge-0" value="true">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <!-- Multiple Checkboxes (inline) -->
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="dmtsuperior">Superior Judge</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="dmtsuperior-0">
                                          <input type="checkbox" name="dmtsuperior" id="dmtsuperior-0" value="true" disabled>
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <!-- Select Basic -->
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="dmtjudginglevel">Judging level</label>
                                      <div class="col-md-6">
                                        <select id="dmtjudginglevel" name="dmtjudginglevel" class="form-control" disabled>
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                        </select>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Submit -->
                    
                    <button class="aligncenter btn btn-primary btn-lg" type="submit" form="form1" value="Submit">Submit</button>

                    
                </form>
            </div>
        </div>
    </div>
</section>