<section>

    <div class="container margin-top-20">
        
        <div class="panel panel-primary animated fadeInDown animation-delay-8">
            <div class="panel-heading">
                <h2 class="text-white">Add a competitor</h2>
            </div>
            <div class="panel-body">
                <form name="addCompetitorForm" ng-submit="addCompetitorSubmit()  && form.submitted = true">
                    <div class="margin-bottom-20">
                        <div class="col-md-12">
                          <div class="alert alert-info">
                            <strong>Some general info regarding this page</strong>
                            <ul>
                              <li>
                                Please give a member's <strong>full name</strong>. In the case you have two people with the same name please include their middle name. (Full names need to be unique)
                              </li>
                              <li>
                                A checked box indicates a yes a blank box indicates a no.
                              </li>
                              <li>
                                Some options are disabled until you select a box enableding it e.g to select 'level' you must first choose 'compete'.
                              </li>
                              <li>
                                For the moment, it is one T-shirt per member. If a member wants additional t-shirts please email info@isto.ie
                              </li>
                              <li>
                                There are limited places for both DMT and Tumbling. DMT max of 
                              </li>
                              <li>
                                The judging level option is the max level you feel you can tariff.
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- Basic -->
                        <div class="col-md-6 col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-body sponsor-panel form-top padding-bottom-20">
                                    <h2 class="text-dark">Basic Info</h2>
                                    <hr />

                                    <div class="col-md-12 margin-bottom-10">
                                      <label class="col-md-6" for="name">Full name</label>  
                                      <div class="col-md-6">
                                        <input ng-model="form.basic.name" id="name" name="name" type="text" placeholder="name" required="">
                                      </div>
                                    </div>
                                    
                                    <div class="col-md-12">
                                      <label class="col-md-6 control-label" for="gender">Gender</label>
                                      <div class="col-md-6">
                                        <select id="gender" 
                                          name="gender" 
                                          class="form-control"
                                          required 
                                          ng-model="form.basic.gender">
                                          
                                          <option value=""></option>
                                          <option value="Male">Male</option>
                                          <option value="Female">Female</option>
                                        </select>
                                      </div>
                                    </div>
                                    
                                    <div class="col-md-12">
                                      <label class="col-md-6" for="commisto-0">Past CommISTO</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="commisto-0">
                                          <input ng-model="form.basic.commisto" type="checkbox" name="commisto" id="commisto-0" ng-true-value="true" ng-false-value="false" >
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <div class="col-md-12">
                                      <label class="col-md-6" for="social-0">Social Ticket</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="social-0">
                                          <input input ng-model="form.basic.social" type="checkbox" name="social" id="social-0" ng-true-value="true" ng-false-value="false" >
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <div class="col-md-12">
                                      <label class="col-md-6" for="guest-0">Guest</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="guest-0">
                                          <input input ng-model="form.basic.guest" type="checkbox" name="guest-0" id="guest-0" ng-true-value="true" ng-false-value="false" >
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    <!-- Helping -->
                    <div class="col-md-6 col-sm-6">
                      <div class="panel panel-default">
                        <div class="panel-body sponsor-panel form-top padding-bottom-20">
                          <h2 class="text-dark">Helpers and Shirt Info</h2>
                          <hr />
                          
                          <div class="col-md-12">
                            <label class="col-md-6" for="scorekeeping-0">Scorekeeping</label>
                            <div class="col-md-6">
                              <label class="checkbox-inline" for="scorekeeping-0">
                                <input 
                                type="checkbox" 
                                name="scorekeeping" 
                                id="scorekeeping-0" 
                                ng-model="form.helper.scorekeeper" >
                                Yes / No
                              </label>
                            </div>
                          </div>
                          
                          <!-- Multiple Radios (inline) -->
                          <div class="col-md-12">
                            <label class="col-md-6" for="marshalling-0">Marshalling</label>
                            <div class="col-md-6">
                              <label class="checkbox-inline" for="marshalling-0">
                                <input  
                                type="checkbox" 
                                name="marshalling" 
                                id="marshalling-0" 
                                ng-model="form.helper.marshall"  >                                          
                                Yes / No
                              </label>
                            </div>
                          </div>
                          
                          <div class="col-md-12">
                            <label class="col-md-6" for="shirt-0">T-shirt</label>
                            <div class="col-md-6">
                              <label class="checkbox-inline" for="shirt-0">
                                <input 
                                type="checkbox" 
                                name="shirt-0" 
                                id="shirt-0" 
                                ng-model="form.helper.shirt" >
                                Yes / No
                              </label>
                            </div>
                          </div>
                          
                          <div class="form-group col-md-12">
                            <label class="col-md-6 control-label" for="shirtsize">Shirt size</label>
                            <div class="col-md-6">
                              <select 
                                id="shirtsize" 
                                name="shirtsize"
                                class="form-control"
                                ng-model="form.helper.shirtSize"
                                ng-options="level.value as level.name for level in shirtSizes"
                                ng-disabled="!form.helper.shirt">
                              </select>
                            </div>
                          </div>
                          
                          <div class="form-group col-md-12">
                            <label class="col-md-6 control-label" for="shirtcolor">Shirt colour</label>
                            <div class="col-md-6">
                              <select 
                                id="shirtcolor" 
                                name="shirtcolor" 
                                class="form-control"
                                ng-model="form.helper.shirtColor"
                                ng-options="level.value as level.name for level in shirtColors"
                                ng-disabled="!form.helper.shirt">
                              </select>
                            </div>
                          </div>
                          
                        </div>                    
                      </div>
                    </div>

                    <!-- Competing -->
                    <div class="col-md-12 col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body sponsor-panel">
                                <h2 class="text-dark text-center">Competing</h2>
                                <hr class="no-margin-bottom"/>
                                <!-- Competing.Trampolining -->
                                
                                <div class="col-md-6">
                                    <h4 class="text-center">Trampolining</h4>
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampolining-0">Competing individually</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="trampolining-0">
                                          <input
                                            type="checkbox" 
                                            name="trampolining" 
                                            id="trampolining-0"
                                            ng-model="form.competition.trampolining.competing">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampolininglevel">Level</label>
                                      <div class="col-md-6">
                                        <select 
                                          id="trampolininglevel" 
                                          name="trampolininglevel" 
                                          ng-model="form.competition.trampolining.level"
                                          class="form-control"
                                          ng-options="level.value as level.name for level in trampLevels"
                                          ng-disabled="!form.competition.trampolining.competing">
                                        </select>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="team">Team</label>
                                      <div class="col-md-6">
                                        <select 
                                          id="team" 
                                          name="team" 
                                          ng-model="form.competition.trampolining.team"
                                          class="form-control"
                                          ng-options="level.value as level.name for level in teams"
                                          ng-disabled="!form.competition.trampolining.competing">
                                        </select>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampoliningsync">Competing Syncro</label>
                                      <div class="col-md-6">
                                        <input 
                                          id="trampoliningsync" 
                                          name="trampoliningsync" 
                                          type="checkbox"
                                          ng-model="form.competition.trampolining.sync">
                                      </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="partner">Syncro partner name</label>
                                      <div class="col-md-6">
                                        <input 
                                          id="partner" 
                                          name="partner" 
                                          type="text"
                                          placeholder="Partner's name"
                                          ng-model="form.competition.trampolining.syncpartner"
                                          ng-disabled="!form.competition.trampolining.sync">
                                      </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="synclevel">Sync Level</label>
                                      <div class="col-md-6">
                                        <select 
                                          id="synclevel" 
                                          name="synclevel"
                                          class="form-control"
                                          ng-model="form.competition.trampolining.synclevel"
                                          ng-options="level.value as level.name for level in syncLevels"
                                          ng-disabled="!form.competition.trampolining.sync">
                                        </select>
                                      </div>
                                    </div>
                                </div>
                              
                                <div class="col-md-6">
                                  <div class="col-md-12">
                                    <!-- Competing.Tumbling -->
                                    <h4 class="text-center">Tumbling</h4>
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="tumbling-0">Competing</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="tumbling-0">
                                          <input 
                                            type="checkbox" 
                                            name="tumbling" 
                                            id="tumbling-0" 
                                            ng-model="form.competition.tumbling.competing" >
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="tumblinglevel">Level</label>
                                      <div class="col-md-6">
                                        <select 
                                          id="tumblinglevel" 
                                          name="tumblinglevel" 
                                          class="form-control"
                                          ng-model="form.competition.tumbling.level" 
                                          ng-options="level for level in tumblingLevels"
                                          ng-disabled="!form.competition.tumbling.competing">
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- Competing.Dmt -->
                                  <div class="col-md-12">
                                    <h4 class="text-center">Dmt</h4>
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="dmt">Competing</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="dmt">
                                          <input 
                                            type="checkbox" 
                                            name="dmt" 
                                            id="dmt"
                                            ng-model="form.competition.dmt.competing">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                  

                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="dmtlevel">Level</label>
                                      <div class="col-md-6">
                                        <select 
                                          id="dmtlevel" 
                                          name="dmtlevel" 
                                          class="form-control"
                                          ng-model="form.competition.dmt.level" 
                                          ng-options="level for level in dmtLevels"
                                          ng-disabled="!form.competition.dmt.competing">
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- Judging -->
                    <div class="col-md-12 col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body sponsor-panel">
                                <h2 class="text-dark text-center">Judging</h2>
                                <hr />
                                <!-- Judging.Trampolining -->
                                <div class="col-md-4">
                                    <h4 class="text-center">Trampolining</h4>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampjudge-0">Form</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="trampjudge-0">
                                          <input 
                                          type="checkbox" 
                                          name="trampjudge" 
                                          id="trampjudge-0"
                                          ng-model="form.judging.trampoline.form">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="tramptariffjudge-0">Tariff</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="tramptariffjudge-0">
                                          <input 
                                          type="checkbox" 
                                          name="tramptariffjudge" 
                                          id="tramptariffjudge-0"
                                          ng-model="form.judging.trampoline.tariff"
                                          ng-disabled="!form.judging.trampoline.form">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampoliningjudginglevel">Max level you can tariff</label>
                                      <div class="col-md-6">
                                        <select 
                                        id="trampoliningjudginglevel"
                                        name="trampoliningjudginglevel"
                                        class="form-control"
                                        ng-model="form.judging.trampoline.level"
                                        ng-options="level.value as level.name for level in trampLevels"
                                        ng-disabled="!form.judging.trampoline.tariff">
                                        </select>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="trampsyncjudge-0">Sync</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="trampsyncjudge-0">
                                          <input 
                                          type="checkbox" 
                                          name="trampsyncjudge" 
                                          id="trampsyncjudge-0" 
                                          ng-model="form.judging.trampoline.sync"
                                          ng-disabled="!form.judging.trampoline.form">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="dmtsuperior-0">Superior</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="dmtsuperior-0">
                                          <input 
                                          type="checkbox" 
                                          name="dmtsuperior" 
                                          id="dmtsuperior-0" 
                                          ng-model="form.judging.trampoline.superior"
                                          ng-disabled="!form.judging.trampoline.form">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                </div>
                                
                                 <!-- Judging.Tumbling -->
                                <div class="col-md-4">
                                    <h4 class="text-center">Tumbling</h4>
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="tumblingjudge-0">Judge</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="tumblingjudge-0">
                                          <input 
                                          type="checkbox" 
                                          name="tumblingjudge" 
                                          id="tumblingjudge-0"
                                          ng-model="form.judging.tumbling.judge">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="tumblingsuperior-0">Superior Judge</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="tumblingsuperior-0">
                                          <input 
                                          type="checkbox" 
                                          name="tumblingsuperior" 
                                          id="tumblingsuperior-0" 
                                          ng-model="form.judging.tumbling.superior"
                                          ng-disabled="!form.judging.tumbling.judge">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="tumblingjudginglevel">Judging level</label>
                                      <div class="col-md-6">
                                        <select 
                                        id="tumblingjudginglevel" 
                                        name="tumblingjudginglevel" 
                                        class="form-control"
                                        ng-model="form.judging.tumbling.level"
                                        ng-options="level for level in tumblingLevels"
                                        ng-disabled="!form.judging.tumbling.judge">
                                        </select>
                                      </div>
                                    </div>
                                </div>
                                
                                 <!-- Judging.Dmt -->
                                <div class="col-md-4">
                                    <h4 class="text-center">Dmt</h4>
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="dmtjudge-0">Judge</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="dmtjudge-0">
                                          <input
                                          type="checkbox" 
                                          name="dmtjudge" 
                                          id="dmtjudge-0"
                                          ng-model="form.judging.dmt.judge">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="dmtsuperior">Superior Judge</label>
                                      <div class="col-md-6">
                                        <label class="checkbox-inline" for="dmtsuperior">
                                          <input 
                                          type="checkbox" 
                                          name="dmtsuperior" 
                                          id="dmtsuperior" 
                                          ng-model="form.judging.dmt.superior"
                                          ng-disabled="!form.judging.dmt.judge">
                                          Yes / No
                                        </label>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                      <label class="col-md-6 control-label" for="dmtjudginglevel">Judging level</label>
                                      <div class="col-md-6">
                                        <select 
                                        id="dmtjudginglevel" 
                                        name="dmtjudginglevel" 
                                        class="form-control"
                                        ng-model="form.judging.dmt.level" 
                                        ng-options="level for level in dmtLevels"
                                        ng-disabled="!form.judging.dmt.judge">
                                        </select>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Submit -->
                    <div class="col-md-12">
                      <div ng-if="errorMessage" class="alert alert-warning" role="alert">{{errorMessage}}</div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <input class="aligncenter btn btn-primary btn-lg" type="submit" value="Submit" ng-disabled="form.submitted" />
                      <a class="btn btn-primary btn-sm col-md-12" ng-click="callApiGetClub(clubName)">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>