<section>
    <header class="wrap-title">
        <div class="container">
            <h1 class="page-title">History</h1>

            <ol class="breadcrumb hidden-xs">
                <li><a href="#/">Home</a></li>
                <li class="active">history</li>
            </ol>
        </div>
    </header>
    <div class="container">
        
        <!-- Primary label to ask people to email in -->
        <div class="alert alert-info margin-top-20">
            <strong>We need your help!</strong> A lot of the history of ISTO has not been fully documented, 
            we want to change that. If you can fill in the gaps of history we would greatly appreciate it. 
            Any info you have in regards to the themes, nights out, CommISTO, etc not found on this page, 
            would you please send to <a href="mailto:info@isto.ie">info@isto.ie</a>, thanks.
        </div>
        <tabset class="margin-bottom-20 margin-top-20">
            <tab ng-repeat="tab in history" heading="{{tab.name}}">
                <div class="panel panel-primary animated fadeInDown animation-delay-8">
                    <div class="panel-heading">
                        <h2 class="text-white text-center">{{tab.name}}</h2>
                    </div>
                    <div class="panel-body">
                        
                        <div class="col-md-6">
                            <h2>Location</h2>
                            <hr class="hr-custom" />
                            <p>{{tab.location}}</p>

                            <h2>The commISTO</h2>
                            <hr class="hr-custom" />
                            <ul class="list-unstyled">
                                <li ng-repeat="member in tab.commisto"> {{ member.name }} </li>
                            </ul>

                        </div>

                        <div class="col-md-6">
                            <h2>The themes</h2>
                            <hr class="hr-custom" />
                            <p>{{tab.theme}}</p>
                            <h2>The venue</h2>
                            <hr class="hr-custom" />
                            <p>{{tab.venue}}</p>

                            <h2>Competition results</h2>
                            <hr class="hr-custom" />
                            <p>Full list of results <a href="{{ tab.results }}">here.</a></p>
                        </div>

                        <div class="col-md-12 well well-lg">
                            <div class="text-center">
                                <h2>Social Nights</h2>
                                <hr class="hr-primary" />
                            </div>
                            <div>
                                <div ng-repeat="night in tab.nights_out" class="col-md-6 padding-bottom-20">
                                    <h3>{{ night.day }}</h3>
                                    <h4><span class="label label-primary">
                                        {{ night.venue }}
                                    </span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</section>