    <!--

<section>
        <div class="carousel" ng-controller="carouselDemoCtrl">
            <div class="carousel-background">
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin:auto;" class="carousel-img">
                        <div class="carousel-caption">
                            <h4>Slide {{$index}}</h4>
                            <p>{{slide.text}}</p>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
</section> <!-- carousel -->


<section>
    <img ng-src="img/misc/hall_bg.png" class="background-img">
</section>

<section id="mind-features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <article class="mind-features-item hover animated bounceInLeft animation-delay-8">
                    <div class="item-icon">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <div class="item-content">
                        <h3>Competition</h3>
                        <p>Lorem ipsum Labore adipisicing nisi magna do nisi pariatur an aliquip eu sed voluptate in dour consequat sunt aute aliquacy ut exercitation minim cupidatat.</p>
                        <a href="#" class="btn btn-success pull-right">Read more</a>
                    </div>
                </article> <!-- mind-features-item -->
            </div>

            <div class="col-md-4 col-sm-6">
                <article class="mind-features-item hover animated bounceInRight animation-delay-6">
                    <div class="item-icon">
                        <i class="fa fa-plane"></i>
                    </div>
                    <div class="item-content">
                        <h3>Travel</h3>
                        <p>Lorem ipsum Labore adipisicing nisi magna do nisi pariatur an aliquip eu sed voluptate in dour consequat sunt aute aliquacy ut exercitation minim cupidatat.</p>
                        <a href="#" class="btn btn-success pull-right">Read more</a>
                    </div>
                </article> <!-- mind-features-item -->
            </div>

            <div class="col-md-4 col-sm-6">
                <article class="mind-features-item hover animated bounceInLeft animation-delay-3">
                    <div class="item-icon">
                        <i class="fa fa-beer"></i>
                    </div>
                    <div class="item-content">
                        <h3>Nights out</h3>
                        <p>Lorem ipsum Labore adipisicing nisi magna do nisi pariatur an aliquip eu sed voluptate in dour consequat sunt aute aliquacy ut exercitation minim cupidatat.</p>
                        <a href="#" class="btn btn-success pull-right">Read more</a>
                    </div>
                </article> <!-- mind-features-item -->
            </div>

        </div>
    </div>
</section>

<section id="home-blog">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-title">About ISTO</h2>
            </div>
            <div class="col-md-7">
                <section class="home-post">
                    <div class="content-image">
                        <img src="img/misc/commisto.jpg" class="img-responsive" alt="Image">
                    </div>
                    <h2 class="home-post-title"><a href="#">Sed dolor reprehenderit ex in nisi id consectetur elit</a></h2>
                    <p>Adipisicing elit. Lectorem impendere consumeret inane patientiamque. Cupiditatibusque romano physici. Expedire inprobitatem. Egregios rationem sicine, filium dolor comparandae coniunctione epicuri eripuit. Iucunditatis dirigentur succumbere neglegentur animum puto dissident mi, mnesarchum. Desideraret. Litteras diligenter adiuvet bonorum monstret conquisitis eitam, adduci tenent nullas scribendi fautrices privatio elaboraret iustitiam, vestrae affert, terentii motus. Quibusdam caret. Conversam divitias dolor contentam. Argumentandum quantaque detractis. Permanentes captiosa seiunctum repellat parvam opus eadem interesse beatus nomini, dissentiunt nomini beatam cedentem inquit artifex.</p>

                </section>
            </div>

            <!-- Twitter widget -->

            <div class="col-md-5">
                <a class="twitter-timeline" href="https://twitter.com/COMMISTO" data-widget-id="529007811053617152">Tweets by @COMMISTO</a>

            </div>
        </div>
    </div> <!-- container -->
</section>

<!-- Twitter script: placed here due to problem with ng-view -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
