<section class="container-background-img">
    <img ng-src="img/misc/hall_bg.png" class="background-img">
</section>

<section id="mind-features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <article class="mind-features-item hover animated bounceInLeft animation-delay-8">
                    <div class="item-icon">
                        <i class="fa fa-list"></i>
                    </div>
                    <div class="item-content">
                        <h3>Routines</h3>
                        <p>
                            At ISTO gymnasts compete at four events: trampoline, 
                            synchronized trampoline, tumbling and double mini-trampoline.
                            For a detailed description of the routines click the link below.
                        </p>
                        <a href="#/competition/routines" class="btn btn-success pull-right">Read more</a>
                    </div>
                </article> <!-- mind-features-item -->
            </div>

            <div class="col-md-4 col-sm-6">
                <article class="mind-features-item hover animated bounceInRight animation-delay-6">
                    <div class="item-icon">
                        <i class="fa fa-bus"></i>
                    </div>
                    <div class="item-content">
                        <h3>Travel</h3>
                        <p>
                            So ISTO is coming back to Cork again, it seems we Tramps can’t
                            get enough of “the rebel city”, and it can’t get enough of us!
                            Cork is the perfect place for Tramps thanks to
                            reasonably priced hostels, abundance of  great  nightclubs  and 
                            the great facilities at the Mardyke Arena.
                        </p>
                        <a href="#/competition/travel" class="btn btn-success pull-right">Read more</a>
                    </div>
                </article> <!-- mind-features-item -->
            </div>

            <div class="col-md-4 col-sm-6">
                <article class="mind-features-item hover animated bounceInLeft animation-delay-3">
                    <div class="item-icon">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="item-content">
                        <h3>Charity</h3>
                        <p>
                            Last year saw, ISTO once again working alongside a charity to raise as much money for them as possible
                            - both through fundraising and also making a large donation to that charity. We are very pleased that
                            this years partner charity will be Cystic Fibrosis Ireland. 
                        </p>
                        <a href="#/charity" class="btn btn-success pull-right">Read more</a>
                    </div>
                </article> <!-- mind-features-item -->
            </div>

        </div>
    </div>
</section>

<section id="home-blog">
    <div class="container">
        <div class="row">

            <div class="col-md-7">
                <section class="home-post">
                    <div>
                        <h2 class="section-title">About ISTO</h2>
                    </div>
                    <div class="content-image">
                        <img src="img/misc/commisto.jpg" class="img-responsive" alt="Image">
                    </div>
                    <h2 class="home-post-title">This year ISTO is being held on the 27th-29th of March 2015, in the UCC Mardyke Arena in Cork city. </h2>
                    <p>
                    The Irish Student Trampolining Open (ISTO) is an annual non-profit event run voluntarily by 8 student
                    and former student trampolinists from five universities across Ireland. Preparation begins in August 
                    and culminates in a 3 day competition, usually held in March or April. The Irish Student Trampoline 
                    Open has been very successfully running since 2002 and is now the largest trampolining competition 
                    in Ireland, and the largest student run trampolining competition in Europe. 
                    </p>
                    <p>
                    Last year, the thirteenth anniversary of ISTO, over 500 competitors attended the competition, 
                    not including the numerous volunteer judges, score-keepers, marshals and competition organizers 
                    who helped to make the competition a great success. ISTO is attended annually by 40 different Irish, 
                    Northern Irish, Welsh, Scottish and English student trampolining clubs, and in recent years the 
                    competition has attracted interest internationally from French, Dutch and German trampoline clubs. 
                    Competitors at ISTO 2015 can potentially compete in four events: Individual trampolining, Synchronized 
                    trampolining, DMT, and Tumbling. This year, there will also be a fun club based Cheerleading event 
                    on the Sunday. The competition aims to include all ability levels, from beginners competing at novice level,
                    to our often National level outstanding Elite competitors. 
                    </p>

                </section>
            </div>

            <!-- Twitter widget -->

            <div class="col-md-5">
                <a class="twitter-timeline" href="https://twitter.com/COMMISTO" data-widget-id="529007811053617152">Tweets by @COMMISTO</a>

            </div>
        </div>
    </div> <!-- container -->
</section>

<!-- Twitter script: placed here due to problem with ng-view -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
