<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <a target="_self" href="{{ base + image.img_src }}">
            <img src="{{ image.img_src }}" alt="{{ image.name }}" class="aligncenter img-responsive imageborder"/>
        </a>
    </div>
</script>

<section>
    <header class="wrap-title">
        <div class="container">
            <h1 class="page-title">Gallery</h1>

            <ol class="breadcrumb hidden-xs">
                <li><a href="#/">Home</a></li>
                <li class="active">Photos</li>
            </ol>
        </div>
    </header>
    
    <div class="container">
        <div class="alert alert-info">
            <strong>This page is still a work in progress and is not yet complete. Apologies.</strong>
        </div>
        <div class="row">
            <div ng-repeat="album in albums">
                <section>
                    <div class="panel panel-default  animated fadeInDown animation-delay-8">
                        <div class="panel-body profile-panel">
                            <h2 class="text-center">{{ album.name }}</h2>
                            <hr />
                            <div>
                                <ul class="list-unstyled">
                                    <li ng-repeat="image in album.images" class="col-md-3">
                                        <a href="" data-toggle="modal" data-target=".myModal" >
                                            <img src="{{ image.thumb_src }}" alt="{{ image.name }}" class="img-thumbnail imageborder margin-top-20"  ng-click="open(image)" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>